* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-heading: "Montserrat", sans-serif;
  --ff-texting: "DM Sans", sans-serif;

  --fc-primary: #34353b;
  --fc-secondary: #ffffff;

  --bgc-primary: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
  --bgc-secondary: #ffffff;

  --button-color: #7879f1;
  --button-color-hover: #5b5bf0;
  --input-color: #dce2e9;
}

body {
  background: var(--bgc-primary);
  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

button {
  background: var(--button-color);

  padding: 1.6rem;

  border-radius: 0.4rem;
  border: none;

  color: var(--fc-secondary);
  font-size: 1.6rem;
  font-family: var(--ff-texting);
  font-weight: bold;

  cursor: pointer;

  transition: background 0.3s;
}

button:hover {
  background: var(--button-color-hover);
}

body,
p,
form,
button {
  font-family: var(--ff-texting);
}

.hide {
  display: none;
}

main {
  background: #ffffff;

  width: min(42.8rem, 90%);

  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;

  padding: 4.8rem 6.4rem 6.4rem;

  margin-top: -12rem;

  text-align: center;
}

/* Screen1 */
.screen1 h1 {
  font-family: var(--ff-heading);
  font-size: 2.4rem;
  font-weight: 600;

  margin-bottom: 1.6rem;
}

.screen1 h1,
.screen1 p {
  color: var(--fc-primary);
}

.screen1 p {
  opacity: 0.8rem;
  font-size: 1.6rem;
}

.screen1 form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

.screen1 input,
.screen1 button {
  border: none;
  padding: 1.6rem;
}

.screen1 input {
  background-color: var(--input-color);
  border-radius: 0.4rem 0 0 0.4rem;
  width: 5rem;
}

.screen1 button {
  background-color: var(--button-color);
  border-radius: 0 0.4rem 0.4rem 0;
  color: var(--fc-secondary);
  font-size: 1.6rem;
  font-weight: bold;
}

/* Screen2 */

.screen2 h2 {
  font-family: var(--ff-texting);
  font-size: 2.4rem;
  font-weight: normal;

  margin-bottom: 3.3rem;
}
